In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(0, 20).reshape(5,4), index=['Row1', 'Row2', 'Row3', 'row4', 'row5'], columns=['column1', 'column2', 'column3', 'column4'])

print(df.head())

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [3]:
print(df)

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [4]:
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [5]:
df.loc['Row2']

column1    4
column2    5
column3    6
column4    7
Name: Row2, dtype: int32

In [6]:
type(df.loc['Row1'])

pandas.core.series.Series

In [7]:
df.iloc[:, 1:]

      column2  column3  column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
row4       13       14       15
row5       17       18       19

In [8]:
df.iloc[:, 1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [9]:
df['column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: column1, dtype: int64